<!-- Contenido del body -->

<div class="container">
    <footer class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top">
      <p class="col-md-5 mb-0 text-body-secondary"> &copy; 2023 Escuela desarrollo web, Node Js, <a href="https://eduardo-arias.com/" target="_blank">Eduardo Arias</a></p>
  
      <a href="https://eduardo-arias.com/" target="_blank" class="col-md-1 d-flex align-items-center justify-content-center mb-3 mb-md-0 me-md-auto link-body-emphasis text-decoration-none">
        Otros cursos
      </a>

      <a href="https://www.youtube.com/@eduardoarias" target="_blank" class="col-md-1 d-flex align-items-center justify-content-center mb-3 mb-md-0 me-md-auto link-body-emphasis text-decoration-none">
        Youtube
      </a>
  
      <ul class="nav col-md-5 justify-content-end">
        <li class="nav-item"><a href="/" class="nav-link px-2 text-body-secondary">Home</a></li>
        <li class="nav-item"><a href="/crear" class="nav-link px-2 text-body-secondary">Crear</a></li>
        <li class="nav-item"><a href="/iniciar-sesion" class="nav-link px-2 text-body-secondary">Iniciar Sesión</a></li>
        <li class="nav-item"><a href="/registrar" class="nav-link px-2 text-body-secondary">Registrar</a></li>
        <li class="nav-item"><a href="/nosotros" class="nav-link px-2 text-body-secondary">Sobre nosotros</a></li>
      </ul>
    </footer>
  </div>

</body>
</html>