<%- include('partials/header'); -%>


    <div style="background-color: rgb(31, 31, 31); padding: 50px 0px 50px 0px; color: white; text-align: center;">
        <h1>Iniciar</h1>
        <p>Haz click para iniciar sesión</p>
    </div>


    <!-- autenticación google -->
    <div class="container my-5" >
      <div class="card social-block">
        <div class="card-body" style="text-align: center !important; background-color:#FF0000 !important;">
          <a class="btn btn-block btn-social btn-google" href="/auth/google" role="button" style="color: white;">
            <i class="bi bi-google" style="margin-right: 4px;"></i>
            Log in with Google
          </a>
        </div>
      </div>
    </div>
      

<%- include('partials/footer'); -%>