<%- include('partials/header'); -%>


    <div style="background-color: rgb(31, 31, 31); padding: 50px 0px 50px 0px; color: white; text-align: center;">
        <h1>Nosotros</h1>
        <p>Nosotros</p>
    </div>



    
<%- include('partials/footer'); -%>